@using Tabla.Models
 <!--El usings es para poder incluir lo que seencuentra en tablaen los modelos y poder hacerlo de manera amena y no tener errores al la lista de tipo objeto-->
@{
    //Aqui lo que se hace es crear una lista de tipo objeto dandole los objetos dados a la lista ya creado en el viewdata de el controlador tabla ejemplo
    //Esto se hace para poder interactuar con un objeto como tal ya que un view data no es un objeto mas si almacena de todo
    List<ParaTabla> Datos = (List<ParaTabla>)ViewData["Empleados"];
        //Aqui se obtiene un contador de cuantos objetos contiene la lista para poder usarlo de refencia en el for posterior
        int Count = Datos.Count;
}
 <!--Creacion de la respectiva tabla para ver los datos-->
<table class="table table-striped table-bordered">
    <header>
        <tr>
            <th>ID</th>
            <th>Empleado</th>
            <th>Area</th>
            <th>Edad</th>
            <th>Antiguedad</th>
        </tr>
    </header>
    <tbody>
        
        @for (int i = 0; i < Count-1; i++)
        {
            //Se crea un for para ir a cada objeto tomando sus datos
        <tr>
             <!--Datos del objeto-->
            <th>@Datos[i].ID</th>
            <th>@Datos[i].NombreEmpleado</th>
            <th>@Datos[i].AreaEncargada</th>
            <th>@Datos[i].Edad</th>
            <th>@Datos[i].Ambiguedad</th>
        </tr>
        }
       
    </tbody>
</table>